* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  letter-spacing: 1px;

}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p,a,span {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}